@import '../../common/styles/colors.scss';
@import '../../common/styles/variables.scss';

.dropdown {
	padding: 16px;
	display: inline-block;
	margin-left: 5%;
	position: absolute;

	&__select {
		border: none;
		appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-webkit-appearance: none;
		padding: 14px 33px 14px 16px;
		background-color: $white;
		box-shadow: 3px 3px $light-grey;
		font-size: $font-size-l;
		color: $darker-grey;
		margin-right: -10px;
	}

	&__arrow {
		position: relative;
		margin-left: -12px;
	}
}
