$white: #fff;
$black: #000;

$red: #ff598c;
$green: #2cc283;

$light-grey: #ebf0f4;
$mid-grey: #b8b5c6;
$midder-grey: #aeb5c7;
$grey: #606c84;
$dark-grey: #6e737f;
$darker-grey: #40434a;
$darkest-grey: #1e375a;

$blue-grey: #172c49;

$light-blue: #e7f2fd;
$mid-blue: #66a7f2;