@import '../../common/styles/colors.scss';
@import '../../common/styles/variables.scss';

.crypto-currency {
    background-color: $blue-grey;
    width: 100%;
    height: 100vh;
    color: $white;

    &__rank {

        float: left;
        width: 20%;

        &-container {
            position: relative;
            top: 110px;
            left: 100px;
        }

        &-text {
            display: inline-block;
            color: $grey;
            font-size: $font-size-s;
            font-weight: $font-weight-heavy;
            top: 6px;
            position: relative;
            right: 8px;
        }

        &-circle {
            display: inline-block;
            border-radius: 50%;
            background-color: $darkest-grey;
            width: 40px;
            height: 40px;
        }

        &-number {
            color: $mid-blue;
            font-size: $font-size-ml;
            font-weight: $font-weight-heavy;
            position: relative;
            left: 13px;
            top: 7px;
        }
    }

    &__table {
        text-align: left;
        width: 60%;

        &-headers {
            color: $grey;
            font-size: $font-size-s;
            font-weight: $font-weight-heavy;
            padding: 15% 0 0 20%;
        }

        &-data {
            padding-left: 20%;
        }
    }
}